img {
  width: 100%;
  height: auto;
}

#header .btn {
  background-color: #52ab98;
  border: solid black 1px;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
}

#header .btn:hover {
  background-color: yellow;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
  color: #333;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.return-btn {
  background-color: #52ab98;
  border: solid black 1px;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
}

.return-btn:hover {
  background-color: yellow;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
  color: #333;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

* {
  padding: 0px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Merriweather", Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: (minmax(60px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
}

#footer {
  background-color: #ffffff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 4;
  grid-row: 4;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15vw;
}

#footer .copyright {
  display: inline-block;
  border: 1px solid red;
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
}

#footer .return-btn {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 160px;
  text-align: center;
  font-weight: bold;
  font-size: 0.7;
}

#header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em 0;
  overflow: hidden;
  background-color: #ffffff;
}

#header .header-logo {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: #52ab98;
  padding: 0.3em 0;
  padding-top: 0;
  font-family: "Montserrat";
}

#header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  padding: 0;
  color: #f3f3f3;
}

#header li {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 180px;
  margin-bottom: 5px;
  margin: auto;
  text-align: center;
  font-weight: 100;
  font-size: 1.3em;
  font-family: "Montserrat";
}

.section-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 1em 0;
  background-color: #c8d8e4;
}

.about-1 {
  display: inline-block;
  border-right: solid #52ab98;
  border-left: solid #52ab98;
  padding: 0.5em;
  margin: 1em;
  width: 45vw;
  border-radius: 8px;
  text-align: center;
  color: #550047;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.1;
  font-family: "Merriweather";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-2 {
  display: inline-block;
  border-left: solid #52ab98;
  border-right: solid #52ab98;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  width: 45vw;
  padding: 0.5em;
  margin: 1em;
  border-radius: 8px;
  text-align: center;
  line-height: 1.1;
  font-weight: 700;
  color: #00082c;
  font-size: 1.1em;
}

.section-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 3;
  grid-row: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  background-color: #2b6777;
}

.section-b .image-wrapper {
  border: 1px solid red;
  display: inline-block;
  width: 15em;
  height: auto;
}
